body{
    background-image: url(../imagens/SUV4.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    font-family: 'VT323', monospace;
    color: #f3f3f3;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 30px;
}

.cartao{
    background-color: #070d12;
    width: 370px;
    border: 2px solid #03355e;
    border-radius: 10px;
    overflow: hidden;
}

.cartao .minhas-informacoes{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.cartao .minhas-informacoes img{
    border-radius: 50px;
    border: 4px solid #03355e;
    width: 200px;
    height: 200px;    
}

.cartao .minhas-informacoes .nome{
    font-size: 26px;
}

.cartao .minhas-informacoes .cargo{
    font-size: 20px;
    color: #b8bbc5;
}

.cartao .conteudo{
    margin-top: 15px;
}

.cartao .abas{
    display: flex;
}

.cartao .abas .aba{
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.cartao .abas img{
    width: 30px;
}

.cartao .abas .aba.selecionado{
    background-color: #262626;
}

.cartao .informacoes-abas{
    background-color: #262626;
}

.cartao .abas .aba:hover{
    background-color: #414141;
}

.informacoes-abas .informacao{
    min-height: 260px;
    padding: 15px;
    display: none;
}

.informacoes-abas .informacao.selecionado{
    display: block;
}

.informacoes-abas .sub-titulo{
    font-size: 22px;
    margin-bottom: 25px;
    text-align: center;
}

.informacoes-abas .descricao{
    font-size: 20px;
    max-height: 180px;
    overflow-y: auto;
    padding-right: 15px;
}

.informacoes-abas .descricao span{
    color: #1d87bd;
}

.minhas-redes{
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    max-height: 180px;
    overflow-y: auto;
}

.minhas-redes li a{    
    width: 250px;
    display: block;
    color: #f3f3f3;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    transition: opacity 0.3s ease-in-out;
}

.minhas-redes li a:hover{
    opacity: 0.8;
}

.minhas-redes .linkedin{
    background-color: #1d87bd;
}

.minhas-redes .github{
    background-color: #070d12;
}